<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>PCF Spring Boot Demo</title>


    <link rel="stylesheet" th:href="@{themes/bootstrap-darkly.css}" media="screen" />
    <link rel="stylesheet" th:href="@{themes/custom-darkly.min.css}" />

</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" th:href="@{/}"><img
                src="/images/icon_cf_green.png"
                style="width: 40px; height: 40px; margin-top: -15px;" />&nbsp; PCF Spring Boot Demo</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/emps}">Employees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/cfdetails}">CF Details</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" target="_blank">
                        App GUID [<span th:text="${appMap['application_id']}"/>]
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" target="_blank">
                        Index [<span th:text="${appMap['instance_index']}"/>]
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<br />
<div>
    <div class="page-header">
        <h1>PCF Spring Boot Demo - <small>Employees</small></h1>
    </div>
</div>
<br />

<div class="card w-75 card-outline-primary">
    <div class="card-block">
        <h4 class="card-title">Spring Starter JPA</h4>
        <p class="card-text">The data below is using the Spring Boot starter 'spring-boot-starter-data-jpa' to store/retrieve data</p>
        <p class="card-text">
            <a th:href="@{/addEmps}" class="btn btn-primary">Add Employees</a>
            <a th:href="@{/deleteEmps}" class="btn btn-primary">Delete Employees</a>
        </p>

        <div th:if="${employeesCount > 0}">
            <table class="table table-hover table-bordered table-striped table-condensed">
                <thead>
                <th style="text-align:center">Id</th>
                <th style="text-align:center">Name</th>
                <th style="text-align:center">Job</th>
                <th style="text-align:center">Salary</th>
                <th style="text-align:center">Promotion</th>
                </thead>
                <tbody>
                <div th:each="employee : ${employees}">
                    <tr>
                        <td style="text-align:center"><span th:text="${employee.id}"/></td>
                        <td style="text-align:center"><span th:text="${employee.name}"/></td>
                        <td style="text-align:center"><span th:text="${employee.job}"/></td>
                        <td style="text-align:center"><span th:text="${employee.salary}"/></td>
                        <td style="text-align:center"><span th:text="${employee.promotion}"/></td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:include="footer :: copy"></div>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</body>
</html>